:root {
    --text-primary: #110B3B;


    --Greyscale-100: #110B3B;
    --Greyscale-80: #4B476E;

    --Blue-100: #2414AE;

    --xx-time: .5s;
    --icon-box: 96px;
}

*,
div {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* background: #F7F9FF url(../images/Grid-1.png) center center repeat-y; */
    background: #F7F9FF;
}

/* .common-bg {
    background: url(../images/Grid-1.png) center center repeat-y;
} */
.disable-click {
    pointer-events: none;
}

/* ========= Main Headings ========= */
.primary-hd-1 {
    color: var(--text-primary);
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -.5px;
    margin: 0;
    padding: 0;
}

.primary-hd-2 {
    color: var(--text-primary);
    font-size: 64px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -1.28px;
    margin: 0;
    padding: 0;
}

/* ========= Secondary Headings ========= */
.secondary-hd-1 {
    color: var(--Greyscale-100);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin: 0 0 4px;
    padding: 0;
}

.secondary-hd-2 {
    color: var(--Greyscale-80);
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.64px;
    margin: 0 0 4px;
    padding: 0;
}

/* ========= Section Details ===== */
.section-details {
    color: var(--Greyscale-80);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* ========= Buttons ========= */
.icon-button-right {
    border-radius: 8px;
    border: 1px solid #97A7F9;
    background-color: #FFF;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 300;
    line-height: 38px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 8px;
}

.button-blue {
    background-color: var(--Blue-100);
}

.icon-button-right:hover {
    background-color: #F7F9FF;
}

.button-blue:hover {
    background-color: #20409e;
}

/* ========= Buttons Ends ========= */
.navbar {
    padding: 28px 0;
}

.navbar-brand {
    margin-right: 40px;
}

.top-right-nav li a {
    line-height: 40px;
    text-decoration: none;
}

.trn-gallery {
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-right: 20px;
}

header .navbar-nav .nav-item {
    margin-right: 8px;
}

header .navbar-nav .nav-link {
    color: var(--Greyscale-80) !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

header .navbar-nav .nav-link:hover {
    color: #2414AE !important;
}

.bx-hero-section {
    border-radius: 0 40px 40px 40px;
    background-color: #FFF;
    padding: 80px 40px 76px;
}

.corner-style {
    background: url(../images/corner.svg) left top no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
}

.bx-hero-hd {
    margin-bottom: 80px;
}

.bx-proven-result {
    width: 753px;
}

.bx-noMatter-txt {
    color: var(--Greyscale-80);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    width: 490px;
    padding-top: 40px;
    padding-right: 5px;
}

/* ======================= Slider ===================== */
.bx-hero-slider {
    position: relative;
}

.bx-hero-slider-inner {
    width: 1360px;
    position: relative;
    overflow: hidden;
}

.bx-slider-wrapper {
    transition: transform 0.4s ease-in-out;
    height: 650px;
    margin-left: -280px;
}

.bx-slider-wrapper .bx-slider-item {
    width: 260px;
    height: 520px;
    margin-right: 24px;
    border-radius: 8px;
    opacity: .5;
    float: left;
    transition: .4s;
    cursor: pointer;
}

.bx-slider-wrapper .bx-slider-item:last-child {
    margin-right: 0;
}

.bx-slider-wrapper .bx-slider-item.active {
    width: 300px;
    height: 600px;
    margin-right: 24px;
    opacity: 1;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.10);
}

.bx-slider-wrapper .bx-slider-item img {
    max-width: 100%;
}

.bx-hero-slider-button {
    width: 88px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 350px;
    z-index: 2;
}

.prev,
.next {
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
}

.prev:hover,
.next:hover {
    background-color: #F7F9FF;
}

.prev {
    background: #FFF url(../images/prev.svg) left top no-repeat;
}

.next {
    background: #FFF url(../images/next.svg) left top no-repeat;
}

.bx-see-action-btn {
    display: flex;
    justify-content: end;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

/* ------ Our Speciality ------ */
.bx-speciality {
    padding-top: 57px;
}

.bx-our-specialty-animation {
    padding-top: 80px;
}

.bx-osa-tab-box {
    padding-bottom: 40px;
}

.bx-osa-inner {
    display: flex;
    justify-content: start;
}

.bx-osa-tabs {
    padding-right: 64px;
    max-width: 639px;
    width: 100%;
    flex-shrink: 1;
}

.bx-osa-tabBtn {
    color: var(--Greyscale-80);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.64px;
    margin-bottom: 8px;
    padding: 0;
    transition: .5s;
    background-color: transparent;
    border: none;
}

.bx-osa-tabBtn.active {
    font-weight: 700;
    color: var(--text-primary);
}

.bx-tabText {
    color: var(--Greyscale-80);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: none;
    transition: .5s;
}

.bx-osa-tabBtn.active~.bx-tabText {
    display: block;
}

/* -----animation box design ----- */
.bx-osa-animbox {
    width: 580px;
    height: 516px;
    padding-left: 64px;
    position: relative;
}

/* .bx-osa-anim-inner {
    width: 516px;
    height: 516px;
    position: relative;
} */
.bx-osa-anim-inner {
    display: none;
    position: relative;
}

.bx-osa-anim-inner.active {
    display: block;
}

.osa-anim-icons,
.bx-anim-text {
    width: 516px;
    height: 516px;
    position: absolute;
    top: 0;
    left: 0;
}

.anim-text-blue {
    color: var(--Blue-100) !important;
}

.a-text-regular {
    color: var(--Greyscale-100);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: -1.28px;
}

.a-text-xx {
    color: var(--Greyscale-100);
    font-family: Inter;
    font-size: 160px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    letter-spacing: -3.2px;
}

/* -------text animation */


/* --- animation icon positions */
.osa-anim-icons .osa-icon {
    width: var(--icon-box);
    height: var(--icon-box);

    border-radius: 100px;
    border: 1px solid #2414AE;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.osa-anim-icons .osa-icon img {
    opacity: 0;
    max-width: 100%;
}

@keyframes animIcon2 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: 0;
        left: 40.6976%;
    }
}

.osa-anim-icons .osa-animIcon-2 {
    animation-name: animIcon2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animIcon3 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: 0;
        left: calc(100% - var(--icon-box));
        right: 0;
    }
}

.osa-anim-icons .osa-animIcon-3 {
    animation-name: animIcon3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animIcon4 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: 40.6976%;
        left: calc(100% - var(--icon-box));
    }
}

.osa-anim-icons .osa-animIcon-4 {
    animation-name: animIcon4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animIcon5 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: calc(100% - var(--icon-box));
        left: calc(100% - var(--icon-box));
    }
}

.osa-anim-icons .osa-animIcon-5 {
    animation-name: animIcon5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animIcon6 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: calc(100% - var(--icon-box));
        left: 40.6976%;
    }
}

.osa-anim-icons .osa-animIcon-6 {
    animation-name: animIcon6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animIcon7 {
    from {
        bottom: 0;
        left: 0;
    }

    to {
        bottom: calc(100% - var(--icon-box));
        left: 0;
    }
}

.osa-anim-icons .osa-animIcon-7 {
    animation-name: animIcon7;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* -------Icon image animation */
@keyframes iconImgOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.osa-anim-icons .osa-icon img {
    animation-name: iconImgOpacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

/* ---------for first one only ------ */

.osa-anim-icons .osa-animIcon-1 img {
    animation-delay: 1s;
}

.osa-anim-icons .osa-animIcon-2 img {
    animation-delay: 2s;
}

.osa-anim-icons .osa-animIcon-3 img {
    animation-delay: 3s;
}

.osa-anim-icons .osa-animIcon-4 img {
    animation-delay: 4s;
}

.osa-anim-icons .osa-animIcon-5 img {
    animation-delay: 5s;
}

.osa-anim-icons .osa-animIcon-6 img {
    animation-delay: 6s;
}

.osa-anim-icons .osa-animIcon-7 img {
    animation-delay: 7s;
}

/* -----------Ends */

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-1 img {
    animation-delay: 1s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-2 img {
    animation-delay: 2s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-3 img {
    animation-delay: 3s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-4 img {
    animation-duration: var(--xx-time);
    animation-delay: 4s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-5 img {
    animation-duration: var(--xx-time);
    animation-delay: 4.5s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-6 img {
    animation-duration: var(--xx-time);
    animation-delay: 5s;
}

.osa-animBoxItem-1 .osa-anim-icons .osa-animIcon-7 img {
    animation-delay: 5.5s;
}

/* ----- anim text positions */
.bx-anim-text .osa-txt {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 516px;
    height: 516px;
    position: absolute;
    background-color: transparent;
    opacity: 0;

    animation-name: iconImgOpacity;
    animation-duration: 1s;
}

.bx-anim-text .osa-animtext-1 {
    animation-delay: 1s;
}

.bx-anim-text .osa-animtext-2 {
    animation-delay: 2s;
}

.bx-anim-text .osa-animtext-3 {
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.bx-anim-text .osa-animtext-4 {
    animation-delay: 4s;
}

.bx-anim-text .osa-animtext-5 {
    animation-delay: 5s;
}

.bx-anim-text .osa-animtext-6 {
    animation-delay: 6s;
}

.bx-anim-text .osa-animtext-7 {
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

/* -----for first one only---- */
.osa-animBoxItem-1 .bx-anim-text .osa-animtext-1 {
    animation-delay: 1s;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-2 {
    animation-delay: 2s;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-3 {
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-4 {
    animation-duration: var(--xx-time);
    animation-delay: 4s;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-5 {
    animation-duration: var(--xx-time);
    animation-delay: 4.5s;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-6 {
    animation-duration: var(--xx-time);
    animation-delay: 5s;
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-7 {
    animation-duration: var(--xx-time);
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

/* ------ */
@keyframes animTextHide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.osa-animBoxItem-1 .bx-anim-text .osa-animtext-3 .a-text-xx {
    animation-name: animTextHide;
    animation-duration: .2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.bx-anim-text .osa-animtext-3 .s-txt {
    animation-name: animTextHide;
    animation-duration: .2s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

/* ============= Service section ===== */
#services {
    margin: 100px 0 8px;
}

.bx-service-heading {
    margin-bottom: 80px;
    padding: 0 40px;
}

.bx-service-text {
    margin: 40px 0 0;
    max-width: 640px;
}

.bx-service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.bx-service-item {
    width: 373px;
    height: 176px;
    margin-bottom: 80px;
}

.bx-service-item-icon {
    margin-bottom: 20px;
}

.bx-serv-item-hd {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-bottom: 4px;
}

.bx-serv-item-txt {
    color: var(--Greyscale-80);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

/* =========== Our Stories ========= */
/* .bx-stories-wrapper {
    border-radius: 40px;
    background-color: #EBFFB3;
    padding: 80px 40px 0;
}

.bx-story-heading {
    margin-bottom: 80px;
}

.bx-stories-text {
    margin: 32px 0 0;
    max-width: 959px;
}

.bx-tabs-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.bx-tab-content-holder {
    overflow: hidden;
    min-height: 560px;
}

.tab-c {
    display: none;
}

.tab-c.active {
    display: block;
}

.bx-tab-content-left {
    flex-grow: 0;
    width: 281px;
    height: 480px;
    margin-right: 40px;
}

.bx-tab-content-right {
    flex-grow: 1;
    height: 480px;
    max-width: 959px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 45px 40px 40px 40px;
    border-radius: 20px;
}

.bx-str-experience,
.bx-str-platform,
.bx-str-audiences {
    padding-left: 40px;
    border-left: 1px solid #797796;
    margin-bottom: 40px;
}

.bx-tab-content-right {
    margin-bottom: 0;
    margin-left: 100%;
}

@keyframes tabcontent {
    0% {
        margin-left: 100%;
    }

    10% {
        margin-left: 0%;
    }

    90% {
        margin-left: 0%;
    }

    100% {
        margin-left: 100%;
    }
}

@keyframes tabcontentfade {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.tab-c.active .bx-tab-content-right {
    animation-name: tabcontent;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

.tab-c.active .bx-tab-content-left {
    animation-name: tabcontentfade;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}

.bx-leftTab-holder {
    width: 281px;
}

.bx-str-left-hd {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin: 0 0 8px;
}

.bx-str-p {
    color: var(--Greyscale-80);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}

.bx-tab-cardText {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.64px;
    height: 346px;
    margin-bottom: 17px;
}

.bx-tab-cardTopHd {
    color: #C7FF29;
    display: block;
}

.bx-bottom-tabs {
    display: flex;
    justify-content: space-between;
}

.tab-item {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
    position: relative;
    border-top: 1px solid #D9DBEA;
}

@keyframes tabwidth {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.tab-item.active::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #2414AE;
    position: absolute;
    top: -1px;
    left: 0;

    animation-name: tabwidth;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 4s;
} */

/* ========== Footer ====== */
.bx-footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.bx-footer-text {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.bx-footer-right {
    display: flex;
    justify-content: end;
}

.bx-footer-right a {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 32px;
}