:root {
    --text-primary: #110B3B;


    --Greyscale-100: #110B3B;
    --Greyscale-80: #4B476E;

    --Blue-100: #2414AE;
}

*,div { box-sizing: border-box;}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* background: #F7F9FF url(../images/Grid-1.png) center center repeat-y; */
    background: #F7F9FF;
}
/* .common-bg {
    background: url(../images/Grid-1.png) center center repeat-y;
} */
.disable-click {
    pointer-events: none;
}

/* ========= Main Headings ========= */
.primary-hd-1 {
    color:var(--text-primary);
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
    letter-spacing: -.5px;
    margin: 0;
    padding: 0;
}
.primary-hd-2 {
    color: var(--text-primary);
    font-size: 64px;
    font-weight: 900;
    line-height: 80px; 
    letter-spacing: -1.28px;
    margin: 0;
    padding: 0;
}

/* ========= Secondary Headings ========= */
.secondary-hd-1 {
    color: var(--Greyscale-100);
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin: 0 0 4px;
    padding: 0;
}
.secondary-hd-2 {
    color: var(--Greyscale-80);
    font-size: 32px;
    font-weight: 500;
    line-height: 40px; 
    letter-spacing: -0.64px;
    margin: 0 0 4px;
    padding: 0;
}

/* ========= Section Details ===== */
.section-details {
    color: var(--Greyscale-80);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

/* ========= Buttons ========= */
.icon-button-right {
    border-radius: 8px;
    border: 1px solid #97A7F9;
    background-color: #FFF;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 300;
    line-height: 38px; 
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 8px;
}
.button-blue { 
    background-color: var(--Blue-100);
}
.icon-button-right:hover {
    background-color: #F7F9FF;
}
.button-blue:hover {
    background-color: #20409e;
}
/* ========= Buttons Ends ========= */
.navbar {
    padding: 28px 0;
}
.navbar-brand {
    margin-right: 40px;
}
.top-right-nav li a {
    line-height: 40px;
    text-decoration: none;
}
.trn-gallery {
    color: var(--text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-right: 20px;
}
header .navbar-nav .nav-item { margin-right: 8px; }
header .navbar-nav .nav-link {
    color: var(--Greyscale-80) !important;
    font-size: 14px;        
    font-weight: 400;
    line-height: 20px;
}
header .navbar-nav .nav-link:hover {
    color: #2414AE !important;
}
.bx-hero-section {
    border-radius: 0 40px 40px 40px;
    background-color: #FFF;
    padding: 80px 40px 76px;
}
.corner-style {
    background: url(../images/corner.svg) left top no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
}
.bx-hero-hd {
    margin-bottom: 80px;
}
.bx-proven-result {
    width: 753px;
}
.bx-noMatter-txt {
    color: var(--Greyscale-80);
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    width: 490px;
    padding-top: 40px;
    padding-right: 5px;
}
/* ======================= Slider ===================== */
.bx-hero-slider {
    position: relative;
}
.bx-hero-slider-inner {
    width: 1360px;
    position: relative;
    overflow: hidden;
}
.bx-slider-wrapper {
    transition: transform 0.4s ease-in-out;
    height: 650px;
    margin-left: -280px;
}
.bx-slider-wrapper .bx-slider-item {
    width: 260px;
    height: 520px;
    margin-right: 24px;
    border-radius: 8px;
    opacity: .5;
    float: left;
    transition: .4s;
}
.bx-slider-wrapper .bx-slider-item:last-child { margin-right: 0; }
.bx-slider-wrapper .bx-slider-item.active {
    width: 300px;
    height: 600px;
    margin-right: 24px;
    opacity: 1;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 30px 20px -10px rgba(0, 0, 0, 0.10);
}
.bx-slider-wrapper .bx-slider-item img { max-width: 100%; }
.bx-hero-slider-button {
    width: 88px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 324px;
    z-index: 2;
}
.prev, .next {
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    border-radius: 8px;
}
.prev:hover, .next:hover {
    background-color: #F7F9FF;
}
.prev {
    background: #FFF url(../images/prev.svg) left top no-repeat;
}
.next {
    background: #FFF url(../images/next.svg) left top no-repeat;
}
.bx-see-action-btn {
    display: flex;
    justify-content: end;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

/* ------ Our Speciality ------ */
.bx-speciality {
    padding-top: 57px;
}
.bx-speciality-heading {
    margin-bottom: 80px;
}
.bx-special-questions {
    padding-right: 64px;
    display: none;
}
.bx-special-questions.active {
    display: block;
}
.bx-question {
    color: var(--text-primary);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px; 
    margin: 0 0 8px;
    padding: 0;
}
.bx-question-text {
    color: var(--Greyscale-80);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}
.big-x {
    font-size: 160px;
    line-height: 160px;
    font-weight: 900;
    display: block;
}
.bx-animation-box {
    display: none;
}
.bx-animation-box.active {
    display: block;
}
.bx-wh-animation {
    min-height: 516px;
    padding-left: 64px;
}
@keyframes animbar {
    0% { height: 0%; }
    33.33% { height: 33.33%;}
    66.66% { height: 66.66%; }
    100% { height: 100%; }
}
.bx-why-what-how {
    position: relative;
    height: 516px;
}
.bx-why-what-how.anim::after {
    content: "";
    width: 1px;
    height: 0;
    position: absolute;
    background-color: var(--Blue-100);
    top: 0;
    right: 0;

    animation-name: animbar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 42s;
}

/* -------------animation box Starts------------- */
.bx-animation-box {
    width: 516px;
    height: 516px;
}
.anim-texts {
    width: 420px;
    height: auto;
}
.anim-text-blue { color: var(--Blue-100);}
@keyframes animtextvisible {
    0% {opacity: 0;}
    40% {opacity: 1;}
    60% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes animtextvisible2 {
    0% {opacity: 0;}
    40% {opacity: 1;}
    100% {opacity: 1;}
}
.anim-text {
    position: absolute;
    top: 50%; 
    left: 0%; 
    transform: translate(-0%, -50%);
    opacity: 0;
}
.anim-second .anim-texts .anim-text:nth-child(1) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.anim-second .anim-texts .anim-text:nth-child(2) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
}
.anim-second .anim-texts .anim-text:nth-child(3) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 4s;
}
.anim-second .anim-texts .anim-text:nth-child(4) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 6s;
}
.anim-second .anim-texts .anim-text:nth-child(5) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 8s;
}
.anim-second .anim-texts .anim-text:nth-child(6) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 10s;
}
.anim-second .anim-texts .anim-text:nth-child(7) {
    animation-name: animtextvisible2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}



.hd-text {
    color: var(--Greyscale-100);
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px; 
    letter-spacing: -1.28px; 
    position: relative;
    z-index: 2;
}
.anim-icons {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.anim-icons .anim-icon {
    position: absolute;
    width: 96px;
    height: 96px;
    opacity: 0;
}
.anim-icons .anim-icon img {
    max-width: 100%;
}

@keyframes iconvisible {
    from {opacity: 0;}
    to {opacity: 1;}
}
.anim-second .anim-icons .anim-icon:nth-child(1) {
    bottom: 0;
    left: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.anim-second .anim-icons .anim-icon:nth-child(2) {
    bottom: 0;
    left: 40.6976%;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.anim-second .anim-icons .anim-icon:nth-child(3) {
    bottom: 0;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}
.anim-second .anim-icons .anim-icon:nth-child(4) {
    bottom: 40.6976%;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}
.anim-second .anim-icons .anim-icon:nth-child(5) {
    top: 0;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}
.anim-second .anim-icons .anim-icon:nth-child(6) {
    top: 0;
    left: 40.6976%;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
}
.anim-second .anim-icons .anim-icon:nth-child(7) {
    top: 0;
    left: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}
/* -------------animation box Ends------------- */



/* ---------- anim first */
.anim-first .anim-texts .anim-text:nth-child(1) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.anim-first .anim-texts .anim-text:nth-child(2) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 2s;
}
.anim-first .anim-texts .anim-text:nth-child(3) {
    animation-name: animtextvisible;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 4s;
}
.anim-first .anim-texts .anim-text:nth-child(8) {
    animation-name: animtextvisible;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 5s;
}
.anim-first .anim-texts .anim-text:nth-child(4) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 6s;
}
.anim-first .anim-texts .anim-text:nth-child(5) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 8s;
}
.anim-first .anim-texts .anim-text:nth-child(6) {
    animation-name: animtextvisible;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 10s;
}
.anim-first .anim-texts .anim-text:nth-child(7) {
    animation-name: animtextvisible2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}

/* --------icons */
.anim-first .anim-icons .anim-icon:nth-child(1) {
    bottom: 0;
    left: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.anim-first .anim-icons .anim-icon:nth-child(2) {
    bottom: 0;
    left: 40.6976%;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.anim-first .anim-icons .anim-icon:nth-child(3) {
    bottom: 0;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}
.anim-first .anim-icons .anim-icon:nth-child(8) {
    bottom: 0;
    left: 40.6976%;
    animation-name: iconvisible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
.anim-first .anim-icons .anim-icon:nth-child(4) {
    bottom: 40.6976%;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}
.anim-first .anim-icons .anim-icon:nth-child(5) {
    top: 0;
    right: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}
.anim-first .anim-icons .anim-icon:nth-child(6) {
    top: 0;
    left: 40.6976%;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 10s;
}
.anim-first .anim-icons .anim-icon:nth-child(7) {
    top: 0;
    left: 0;
    animation-name: iconvisible;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 12s;
}
/* -----------anim first ends */


/* ============= Service section ===== */
#services {
    margin: 100px 0 8px;
}
.bx-service-heading {
    margin-bottom: 80px;
    padding: 0 40px;
}
.bx-service-text{
    margin: 40px 0 0;
    max-width: 640px;
}    
.bx-service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.bx-service-item {
    width: 373px;
    height: 176px;
    margin-bottom: 80px;
}
.bx-service-item-icon {
    margin-bottom: 20px;
}
.bx-serv-item-hd {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-bottom: 4px;
}
.bx-serv-item-txt {
    color: var(--Greyscale-80);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    margin: 0;
}

/* =========== Our Stories ========= */
.bx-stories-wrapper {
    border-radius: 40px;
    background-color: #EBFFB3;
    padding: 80px 40px 0;
}
.bx-story-heading {
    margin-bottom: 80px;
}
.bx-stories-text {
    margin: 32px 0 0;
    max-width: 959px;
}
.bx-tabs-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.bx-tab-content-holder {
    overflow: hidden;
    min-height: 560px;
}
.tab-c {
    display: none;
}
.tab-c.active {
    display: block;
}
.bx-tab-content-left {
    flex-grow: 0;
    width: 281px;
    height: 480px;
    margin-right: 40px;
}
.bx-tab-content-right {
    flex-grow: 1;
    height: 480px;
    max-width: 959px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 45px 40px 40px 40px;
    border-radius: 20px;
}
.bx-str-experience, .bx-str-platform, .bx-str-audiences {
    padding-left: 40px;
    border-left: 1px solid #797796;
    margin-bottom: 40px;
}
.bx-tab-content-right {
    margin-bottom: 0;
    margin-left: 100%;
}
@keyframes tabcontent {
    0% {margin-left: 100%;}
    10% {margin-left: 0%;}
    90% {margin-left: 0%;}
    100% {margin-left: 100%;}
}
@keyframes tabcontentfade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
.tab-c.active .bx-tab-content-right {
    animation-name: tabcontent;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}
.tab-c.active .bx-tab-content-left {
    animation-name: tabcontentfade;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}
.bx-leftTab-holder { 
    width: 281px;
}
.bx-str-left-hd {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin: 0 0 8px;
}
.bx-str-p {
    color: var(--Greyscale-80);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    margin: 0;
}
.bx-tab-cardText {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.64px;
    height: 346px;
    margin-bottom: 17px;
} 
.bx-tab-cardTopHd {
    color: #C7FF29;
    display: block;
}
.bx-bottom-tabs {
    display: flex;
    justify-content: space-between;
}
.tab-item {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
    position: relative;
    border-top: 1px solid #D9DBEA;
}
@keyframes tabwidth {
    from {width: 0;}
    to {width: 100%;}
}
.tab-item.active::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: #2414AE;
    position: absolute;
    top: -1px;
    left: 0;

    animation-name: tabwidth;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}

/* ========== Footer ====== */
.bx-footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}
.bx-footer-text {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}
.bx-footer-right {
    display: flex;
    justify-content: end;
}
.bx-footer-right a {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    text-decoration: none;
    margin-left: 32px;
}